* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: #000;
}

main {
  align-self: center;
}

@font-face {
  font-family: "NunitoExtraBold";
  src: url("../assets/fonts/NunitoExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}