---
import Layout from "../layouts/Layout.astro";
import background from "../assets/background.png";
import flowers from "../assets/flowers.png";
import calendar from "../assets/calendar.png";

import "@fontsource-variable/inter";
import "../styles/index.css";
---

<Layout title="Will you be my Valentine?">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section class="flex h-screen flex-wrap items-center justify-center gap-20">
      <div class="flex flex-col">
        <div class="flex justify-start">
          <img class="h-[15em] w-[15em]" src={calendar.src} />
        </div>

        <h1
          class="ml-14 w-[10em] font-NunitoExtraBold text-[rgba(0,0,0,0.7)] text-8xl"
        >
          Hilary will you be my Valentine?
        </h1>

        <div class="flex w-[10em] justify-start gap-9 p-16">
          <a
            href="/yes-screen"
            class="data-confetti-button rounded-md bg-[#ff4d59] p-4 font-bold text-white text-xl hover:opacity-80"

            >Yes</a
          >
          <button
            class="no-button rounded-md bg-white p-4 font-bold text-xl hover:opacity-80"
            >No</button
          >
        </div>
      </div>

      <div class="flex flex-col">
        <img class="animate-float md:h-[60em] md:w-[57em]" src={flowers.src} />
      </div>
    </section>
  </main>
</Layout>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<!--STYLES-->
<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @keyframes bounce {
    0%,
    20%,
    53%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateZ(0);
    }

    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -30px, 0) scaleY(1.1);
    }

    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translateZ(0) scaleY(0.95);
    }

    90% {
      transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
  }

  .bounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    transform-origin: center bottom;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>

<script>
  function hideNoButton() {
    const noButton = document.querySelector(".no-button");
    if (noButton) {
      noButton.addEventListener("click", function () {
        noButton.style.display = "none";
      });
    }
  }

  document.addEventListener("DOMContentLoaded", hideNoButton);
  document.addEventListener("astro:after-swap", hideNoButton);
</script>
